@charset "UTF-8";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}

img {
  border: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.m-mainVisual-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/fuji.avif);
    background-size: cover;
    background-position: center;
  }

a, .js-navigation, .m-button, .m-backTop {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-property: all;
}

.l-container {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  box-sizing: content-box;
  padding: 0 7%;
}

.l-row {
  font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
  margin-right: -10px;
  margin-left: -10px;
  box-sizing: content-box;
}

[class*="l-grid-"] {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 1px;
}

.l-grid-1 {
  width: 8%;
}

.l-grid-2 {
  width: 15%;
}

.l-grid-3 {
  width: 25%;
}

.l-grid-4 {
  width: 30%;
}

.l-grid-5 {
  width: 40%;
}

.l-grid-6 {
  width: 50%;
}

.l-grid-7 {
  width: 60%;
}

.l-grid-8 {
  width: 65%;
}

.l-grid-9 {
  width: 75%;
}

.l-grid-10 {
  width: 85%;
}

.l-grid-11 {
  width: 90%;
}

.l-grid-12 {
  width: 100%;
}

.l-container.l-container--narrow {
  max-width: 786px;
}
.l-container.l-container--narrow .l-row {
  margin-right: -15px;
  margin-left: -15px;
}
.l-container.l-container--narrow .l-row:after {
  clear: both;
  content: "";
  display: block;
}
.l-container.l-container--narrow [class*="l-grid-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.l-container.l-container--full {
  max-width: 100%;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  background-color: #fff;
  color: #13191b;
  line-height: 1.7;
  font-size: 13px;
}

a {
  color: #13191b;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.1em;
}

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.l-header .m-siteLogo {
  float: left;
  margin-top: 50px;
  margin-left: 7%;
}
.l-header .m-navigation {
  float: right;
  margin-top: 75px;
  margin-right: 7%;
}
.l-header .m-navigationToggle {
  display: none;
}

.l-section {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 110px;
  padding-bottom: 110px;
}

.l-section.l-section--product {
  background-color: #fff;
}

.l-share {
  background-color: #fff;
  position: relative;
  padding: 35px 0;
}
.l-share .m-backTop {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.l-footerNav {
  background-color: #939899;
  padding: 30px 0;
  text-align: center;
}

.l-footer {
  background-color: #656c6e;
  padding: 35px 0;
}
.l-footer .l-container:after {
  clear: both;
  content: "";
  display: block;
}
.l-footer .m-siteLogo {
  float: left;
}
.l-footer .m-copyRight {
  float: right;
  margin-top: 35px;
}

.l-pager {
  background-color: #f6f6f6;
}

.m-siteLogo {
  margin: 0;
  color:white;
}

.m-siteLogo a a {
  display: block;
  height: 100%;
  width: 100%;
}

.m-siteLogo_smp {
  display: none;
}

.m-mainVisual {
  background-color: #b7c0c7;
  width: 100%;
  height: 295px;
  max-height: 900px;
  position: relative;
  overflow: hidden;
}

.m-mainVisual-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.m-mainVisual-image > img {
  position: absolute;
}

.m-mainVisual-logo {
  display: none;
}

.m-mainVisual-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.m-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
}

.m-navigation li {
  color: white;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
  margin-left: 40px;
}

.m-navigation li:first-child {
  margin-left: 0;
}
.m-navigation li a {
  color: #fff;
  font-size: 14px;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}
.m-navigation li a:hover {
  border-color: #fff;
  opacity: 1;
}

.m-navigation--center ul {
  text-align: center;
}
.m-navigation--center li a {
  padding: 0;
  border: none;
}
.m-navigation--center li a:hover {
  opacity: 0.7;
}

.js-navigation {
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.m-button {
  display: inline-block;
  width: 162px;
  height: 46px;
  line-height: 48px;
  font-size: 14px;
  color: #13191b;
  border: 1px solid #13191b;
  text-align: center;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
}
.m-button:hover {
  opacity: 1;
}

.m-button--more {
  background-size: 8px 12px;
  background-position: 140px 50%;
}
.m-button--more:hover {
  background-color: #13191b;
  color: #fff;
}

.m-button--facebook {
  color: #4871a9;
  border-color: #4871a9;
}
.m-button--facebook:hover {
  background-color: #4871a9;
  color: #fff;
}

.m-button--twitter {
  color: #70bdd3;
  border-color: #70bdd3;
}
.m-button--twitter:hover {
  background-color: #70bdd3;
  color: #fff;
}

.m-button--hatena {
  color: #2f9bcd;
  border-color: #2f9bcd;
}
.m-button--hatena:hover {
  background-color: #2f9bcd;
  color: #fff;
}

.m-button--line {
  color: #8ec09d;
  border-color: #8ec09d;
}
.m-button--line:hover {
  background-color: #8ec09d;
  color: #fff;
}

.m-concept {
  margin: 0 auto;
}

.m-concept-title {
  text-align: center;
  font-size: 44px;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0 auto;
}

.m-concept-read {
  max-width: 550px;
  font-size: 20px;
  margin: 70px auto 0 auto;
}
.m-concept-read > * {
  margin-top: 1em;
  margin-bottom: 0;
}

.m-concept-read--index {
  max-width: 370px;
  margin-top: 50px;
}

.m-sectionTitle:after {
  clear: both;
  content: "";
  display: block;
}

.m-sectionTitle-text {
  float: left;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  background-size: 68px 8px;
  background-position: 0 bottom;
  padding-bottom: 17px;
  line-height: 1;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
}

.m-sectionTitle-button {
  float: right;
}

.m-productList-item {
  margin-top: 60px;
}

.m-productList-item-link {
  display: block;
}

.m-productList-item-image img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.m-productList-item-title {
  margin: 20px 0 0;
  padding: 0 20px;
  font-size: 20px;
}

.m-productList-item-description {
  margin: 10px 0 0;
  padding: 0 20px;
  font-size: 14px;
  color: #656c6e;
}

.m-productList-more {
  display: none;
}

.m-newsList {
  margin-top: 80px;
}

.m-newsList-item {
  margin-top: 60px;
}

.m-newsList-item-link {
  display: block;
}

.m-newsList-item-image img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.m-newsList-item-title {
  margin: 0;
  font-size: 18px;
}

.m-newsList-item-date {
  color: #656c6e;
  font-size: 12px;
  margin: 5px 0 0;
  font-family: "Gill Sans Std Book", sans-serif;
}

.m-newsList-item-description {
  font-size: 13px;
  color: #656c6e;
  margin: 20px 0 0;
}

.m-newsList-more {
  display: none;
}

.m-backTop {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.m-backTop a {
  display: block;
  height: 100%;
  width: 100%;
}

.m-shareButtons {
  font-size: 0;
  letter-spacing: -1em;
  word-spacing: -1em;
  text-align: center;
}

.m-shareButtons-item {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  letter-spacing: normal;
  word-spacing: normal;
  margin: 0 15px;
}

.m-shareButtons-item--line {
  display: none;
}

.copyRight {
  margin: 0;
  font-size: 12px;
  color: #fff;
  font-family: "Gill Sans Std Book", sans-serif;
  letter-spacing: 0.1em;
}
